*{
    margin: 0;
    padding: 0;
    font-family: cursive; 
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
    /* border-bottom: 1px solid rgb(179, 170, 170); */
    font-size: 12px;
}
.logo{
    flex: 1;
    img{
        width: 80px;
        height: 50px;
        &:hover{
            cursor: pointer;
        }
    }
}
.search{
    flex: 1;
}
.add{
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 1;
    .links{
        ul{
            list-style: none;
            li{
                display: inline;
                margin-left: 10px;
                padding: 5px;
                &:hover{
                    cursor: pointer;
                    background-color: orange;
                    text-decoration: underline;
                }
            }
        }
    }
    .cart{
        display: flex;
        position: relative;
        &:hover{
            cursor: pointer;
            border-bottom: 1px solid green;
        }
        img{
            width: 40px;
            height: 40px;
            margin-left: 10px;
            &:hover{
                cursor: pointer;
            }
        }
        span{
            /* display: flex;
            flex-direction: center;
            align-items: center; */
            position: absolute;
            /* top: 0;
            right: 0; */
            font-size: 14px;
            text-align: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: orange;
        }
    }   
    
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    height: 20vh;
    border: 1px solid rgb(179, 170, 170);
    background: linear-gradient(rgb(2,234,205), gray);
    .top{
        color: green;
    } 
    .bottom{
        transition: all 0.3s ease;
                
        img{
            width: 90px;
            height: 15vh;
            object-fit: cover;
            margin-top: 5px;            
            &:hover{                    
                transform: scaleX(1.2);
            }
        }
    }
}
.products{
    display: flex;    
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 20px;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    
    &:hover{
        cursor: pointer;
        transform: scaleX(1.1);
    }
    img{
        height: 200px;
        width: 200px;
        border-radius: 5px;

    }
    button{
        color: white;
        background-color: orange;
        border: none;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.footer-div{
    background: linear-gradient(rgb(2,234,205), gray); 
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    .top{
        display: flex;
        .top-left{
            flex: 1;
            ul{
                list-style: none;
                margin-left: 20px;
            }
        }
        .top-center{
            flex: 1;
            ul{
                list-style: none;
                margin-left: 20px;
            }
        }
        .top-right{
            flex: 1;
        }
    }
    .bottom{
        display: flex;
        margin-bottom: 20px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        img{
            width: 40px;
            height: 30px;
            &:hover{
                transform: scaleX(1.2);
            }
            
        }
    }
}